Xft.dpi:       192
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background:        #222D31
XTerm*foreground:        #d8d8d8
XTerm*pointerColor:      #1ABB9B
XTerm*faceName:          Fixed
XTerm*faceSize:          11
XTerm*reverseVideo:      on
XTerm*selectToClipboard: true

*fading:                          8
*fadeColor:                       black
*pointerColorBackground:          #2B2C2B
*pointerColorForeground:          #16A085

!! COLORS
#include                </home/alex/.colors/gruvbox>

*background:            bg
*foreground:            fg
*.cursorColor:          fg

*color0:                blk
*color8:                bblk

*color1:                red
*color9:                bred

*color2:                grn
*color10:               bgrn

*color3:                ylw
*color11:               bylw

*color4:                blu
*color12:               bblu

*color5:                mag
*color13:               bmag

*color6:     	          cyn
*color14:    	          bcyn

*color7:      	        wht
*color15:     	        bwht

Xcursor.theme: xcursor-breeze
Xcursor.size:           0
